<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include('partials/header'); -%>
    <body>
        <div class="container">
            <% posts.forEach(function(post) { %>
                <div class="post">
                    <h1><%= post.title  %></h1>
                    <p>
                        <%= post.content.substr(0, 100) + " ..." %>
                        <a href="/posts/<%= post._id %>">Read More</a>
                    </p>
                </div>
            <% }) %>
        </div>
        <%- include('partials/footer'); -%>
    </body>
</html>
